<launch>
    <!-- Load the joint controller configurations from the yaml file to the parameter server -->
    <rosparam file="$(find sac_controllers)/config/andreas_arm_control.yaml" command="load" />

    <!-- Load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" ns="/andreas_arm" args="joint_state_controller
                                                alpha_position_controller
                                                beta_position_controller
                                                gamma_position_controller
                                                delta_position_controller
                                                epsilon_position_controller
                                                zeta_position_controller" />

    <!-- Convert the joint states to T transforms for RViz, etc. -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="false" output="screen">

        <remap from="/joint_states" to="/andreas_arm/joint_states" />

    </node>
    
</launch>
